<% cache('teams_cache') do %>

<% # here we build 2 hashes: one '@team_scores' containing the sum of points from a join with scores table_alias_for
   # the other '@teams' containing team info, the 2 hashes will be cross-referenced in the _team partial
%>

<% @team_scores = current_admin.challenges.first.teams.sum(:points, :group => 'teams.id', :joins => {:users, :scores}  ) %>
<% @teams = current_admin.challenges.first.teams %>
<% @teams.each { |t| t.score = @team_scores[t.id]} %>
<%  %>
<% if params[:sort]=='full'		# handle boolean case
   		@teams = @teams.sort_by{|t| t.full ? "Team Full" : "Vacancy"}
   elsif params[:sort]=='score'  # handle scores with possible nil case (sort_by is not nil safe)
   			@teams = @teams.sort_by{|t| t.score || 0 }
   else
   		@teams = @teams.sort_by{|t| t[params[:sort].to_sym]} 
  end %>

<table>
<tr>
	<th><%= link_to "Name", :sort => "name" %></th>
	<th><%= link_to "Created", :sort => "created_at" %></th>
	<th><%= link_to "Updated", :sort => "updated_at" %></th>
	<th><%= link_to "Vacancy", :sort => "full" %></th>
	<th><%= link_to "Score", :sort => "score" %></th>
</tr>
  <% @teams.each do |team| %>    
    <%= render team %>
  <% end %>
<% end %>
</table>

