<% cache('onramp_cache') do %>

<% challenge = current_admin.challenges.last
	div = challenge.league.divisions.first
      @regx = Array.new(load_registered_users(challenge.id, div.id))   #array of registered users from activation date
      @reg_tot = 0 %>

	<% if challenge.eligible_members != nil and challenge.eligible_members != 0 %>
		<large>Registrations</large> (of eligible: <%= challenge.eligible_members %>)
	<% else %>
	        <large>Registrations </large>(Unknown # Eligible for Challenge)
	<% end %>

<table>
<tr>
	<th></th>
	<% @regx.each do |x| %>
	<th> <%= x[0].strftime("%m/%d") %> </th>
	<% end %>
</tr>

<% challenge.league.divisions.each do |div| 		# for each division of this league
      @regx = Array.new(load_registered_users(challenge.id, div.id))   #array of registered users from activation date
      @reg_tot = 0 %>
<tr>
	<td><%= div.name %> </td>
	<% @regx.each do |x| %>
		<td> <%= @reg_tot += x[1] %> </td>
	<% end %>
</tr>

	<% if challenge.eligible_members != nil and challenge.eligible_members != 0 
	      @reg_tot = 0 %>
	<tr>
		<td><small> % Eligible</small></td>
		<% @regx.each do |x|  @reg_tot += x[1] %>
			<td><small> <%= "%3.1f" % (@reg_tot.to_f / challenge.eligible_members.to_f * 100) %></small></td>
		<% end %>
	</tr>
	<% end %>

<% end %>
</table>
<% end %>

